server:
  port: 8531

# Config HEROKU
spring:
  http:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  application:
    name: spacebox-file-service
  datasource:
    url: ${JDBC_DATABASE_URL}
    username: ${JDBC_DATABASE_USERNAME}
    password: ${JDBC_DATABASE_PASSWORD}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        show_sql: true
        format_sql: true
service:
  auth:
    host: https://spacebox-auth-service.herokuapp.com/
logging:
  level:
    org:
      hibernate:
        type: trace

# Config DEV
#spring:
#  http:
#    multipart:
#      max-file-size: 500MB
#      max-request-size: 500MB
#  application:
#    name: auth-service
#  datasource:
#    url: jdbc:mysql://localhost:3306/spacebox?useSSL=false
#    username: root
#    password: 123456789
#  jpa:
#    hibernate:
#      ddl-auto: create
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
#        show_sql: true
#        format_sql: true
#service:
#  auth:
#    host: http://localhost:7531/
#logging:
#  level:
#    org:
#      hibernate:
#        type: trace
